WBA2/src/Aufgabe 3/Aufgabe 3c .xsd

<?xml version="1.0" encoding="UTF-8"?>

<s:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:s="http://www.w3.org/2001/XMLSchema">
<s:element name="rezepte">
	<s:complexType>
		<s:sequence>
			<s:element maxOccurs="unbounded" name="rezept">
				<s:complexType>
					<s:sequence>
						<s:element name="fotos">
							<s:complexType>
								<s:sequence>
									<s:element name="foto" minOccurs="0">
										<s:complexType>
											<s:sequence>
												<s:element name="id" type="s:positiveInteger"/>
												<s:element name="user" type="s:string"/>
												<s:element name="src" type="s:anyURI"/>
											</s:sequence>
										</s:complexType>
									</s:element>
								</s:sequence>
							</s:complexType>
						</s:element>
						<s:element name="portionen" type="s:positiveInteger"/>
						<s:element name="zutaten">
							<s:complexType>
								<s:sequence>
									<s:element minOccurs="1" maxOccurs="unbounded" name="zutat">
										<s:complexType>
											<s:sequence>
												<s:element name="Menge">
													<s:simpleType>
														<s:restriction base="s:decimal">
												       		<s:minInclusive value="0"/>
												    	</s:restriction>
												    </s:simpleType>
												</s:element> 
												<s:element name ="Einheit" minOccurs="0" maxOccurs="1"/>
												<s:element name ="Name"/>
											</s:sequence>
										</s:complexType>
									</s:element>
								</s:sequence>
							</s:complexType>
						</s:element>
						<s:element name="Zubereitung">
							<s:complexType>
								<s:sequence>
									<s:element name="schwierigkeit" >
										<s:simpleType >
											<s:restriction base="s:string">
										    	<s:enumeration value="leicht"/>
										        <s:enumeration value="normal"/>
										        <s:enumeration value="schwer"/>
										    </s:restriction>
										</s:simpleType>
									</s:element>
									<s:element name ="Arbeitszeit ">
										<s:complexType>
											<s:attribute name="value" type="s:positiveInteger" />
										</s:complexType>
									</s:element>
									<s:element name ="Brennwert">
										<s:complexType>
											<s:attribute name="value" type="s:positiveInteger"/>
											<s:attribute name="einheit" type="s:string"/>
										</s:complexType>
									</s:element>
									<s:element name ="Beschreibung" type="s:string"/>#
								</s:sequence>
							</s:complexType>
						</s:element>
						<s:element name="kommentare">
	                        <s:complexType>
	                            <s:sequence>
	                                <s:element name="kommentar" minOccurs="0" maxOccurs="unbounded">
	                                    <s:complexType>
	                                        <s:sequence>
	                                            <s:element name="username" type="s:string"/>
	                                            <s:element name="userpic" type="s:anyURI" />
	                                            <s:element name="commentdate" type="s:dateTime"/>
	                                            <s:element name="text" type="s:string"/>
	                                        </s:sequence>
	                                    </s:complexType>
	                                </s:element>
	                            </s:sequence>
	                        </s:complexType>
	                    </s:element>	
					</s:sequence>
				</s:complexType>
		  	</s:element>
		</s:sequence>
	</s:complexType>
</s:element>
</s:schema>